---
import SocialNetwork from './SocialNetwork.astro';
import CenteredDivision from './CenteredDivision.astro';
import { BASE } from '../utils/base.astro';
---

<CenteredDivision>

    <img src={`${BASE}/assets/images/misc/pfp.jpg`} class="pfp"/>

    <a href="https://git.io/typing-svg"><img src="https://readme-typing-svg.demolab.com/?center=true&vCenter=true?font=JetBrains+Mono&pause=1000&color=67F758&width=435&lines=b0nn133;bonnie" alt="Typing SVG" /></a>
    <p>A Linux & FOSS enthusiast</p>

    <div class="social-grid">
            <SocialNetwork icon={`${BASE}/assets/images/logotypes/Telegram.svg`} url="https://t.me/openrced" color="0, 157, 255"/>
            <SocialNetwork icon={`${BASE}/assets/images/logotypes/GitHub.png`} url="https://github.com/b0nn133" color="255,255,255"/>
    </div>

    <p class="attribution">Jéja - Bad Habit (ft. Zaug) - Phonk Version [NCS Release]</p>

</CenteredDivision>