@font-face {
    font-family: 'RobotoMono'; 
    src: url("../assets/fonts/RobotoMono.ttf") format('truetype');
}

html, body {
    background: url("../assets/images/misc/pfp.jpg") no-repeat center/cover;
}

.pfp {
    width: 150px;
    height: 150px;
    border-radius: 50%; 
    object-fit: cover;  
    display: block;    
    margin-bottom: 15px;
}

.social-grid {
  display: flex;
  flex-direction: row;
  gap: 7px
}

.centered-item {
    backdrop-filter: blur(30px) brightness(0.3);
    -webkit-backdrop-filter: blur(30px) brightness(0.3);
    scale: 100%;
    animation: 1s alternate background-animation;
}

@keyframes background-animation {
    from {
        backdrop-filter: blur(30px) brightness(0.8);
        -webkit-backdrop-filter: blur(30px) brightness(0.8);
        scale: 120%;
    }
}

button {
    background-color: rgba(55, 55, 55, 0.745);
    border-radius: 50em;
    backdrop-filter: blur(5px);
    border: none;
    color: white;
    font-size: 1em
}

#click-to-proceed {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 0em;
    cursor: pointer
}

#website {
    width: 100%;
    height: 100%
}

.attribution {
    position: absolute; 
    bottom: 5px; 
    color: rgba(255,255,255,0.4);
    font-size: 0.8em;
    transition: 0.5s
}

.attribution:hover {
    color: rgba(255,255,255,0.5);
    font-size: 0.9em
}