---
import '../styles/style.css';
import { BASE } from '../utils/base.astro';
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={`${BASE}/assets/images/misc/favicon.svg`} />
		<link rel="icon" href={`${BASE}/assets/images/misc/favicon.ico`} />
		<title>b0nn133</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
